{
	"presets": [
		["env", { "modules": false }],
		"react",
		"stage-0"
	],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		},
		"targets": {
			"browsers": ["last 2 versions"]
		}
	},
	"plugins": [
		"react-html-attrs",
		"react-hot-loader/babel"
	]
}