@font-face {
	font-family: 'Learning';
	src: url('../../assets/fonts/learning_curve_regular_ot_tt.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Berk';
	src: url('../../assets/fonts/berkshireswash-regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mountains';
	src: url('../../assets/fonts/MountainsofChristmas.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../assets/fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-bold';
	src: url('../../assets/fonts/Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-bolditalic';
	src: url('../../assets/fonts/Roboto-BoldItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-italic';
	src: url('../../assets/fonts/Roboto-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-light';
	src: url('../../assets/fonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../../assets/fonts/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@mixin Roboto($style: regular) {
	font-family: 'Mountains';

	@if $style == bold {
		font-family: 'Berk';
	}

	@if $style == light {
		font-family: 'Learning';
	}

	@if $style == medium {
		font-family: 'Berk';
	}
    
  @if $style == italic {
		font-family: 'Roboto-italic';
	}
}