@import '../../assets/styles/main';

.blog__main{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  &.article{
    padding: 25px 25px 50px;
    min-height: 100vh;
  }
}
.blog__wrap{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0 25px
}
.open__category-btn{
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  padding: 1px 15px;
  font-size: rem(25px);
  background-color: #00B8D4;
  border-radius: 0 3px 3px 0;
  color: #fff;
  transition: .3s;
  z-index: 100;
  i{
    color: #fff;
  }
  &.active{
    left: 200px;
  }
  @include laptops(){
    display: block;
  }
}
.blog__category-list{
  position: relative;
  top: auto;
  left: auto;
  width: 18%;
  padding-right: 15px;
  border-right: 2px solid #00B8D4;
  &.fixed{
    position: fixed;
    top: 25px;
    left: 50px;
  }
  @include laptops(){
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    width: 200px;
    background-color: #00B8D4;
    border-color: #fff;
    padding: 0 15px;
    transition: .3s;
    z-index: 100;
    &.active{
      left: 0;
    }
    &.fixed{
      top: 0;
      left: -200px;
      height: 100vh;
      &.active{
        left: 0;
      }
    }
  }
}
.blog__category-item{
  border-bottom: 2px solid #00B8D4;
  &:last-child{
    border-bottom: none;
  }
  @include laptops(){
    border-color: #fff;
  }
}
.blog__category-link{
  @include Roboto(medium);
  font-size: rem(18px);
  display: block;
  padding: 15px 0;
  color: #00B8D4;
  text-transform: uppercase;
  transition: .3s;
  &:hover{
    color: #009688;
    transform: scale(1.01);
  }
  @include laptops(){
    color: #fff;
    &:hover{
      color: #ccc;
    }
  }
}
.blog__article-list{
  width: 75%;
  padding-top: 25px;
  margin-left: auto;
  @include laptops(){
    width: 100%;
    padding-top: 0;
  }
}
.blog__article-item{
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid #009688;
  &:last-child{
    border-bottom: none;
  }
}
.article__title{
  @include Roboto(bold);
  font-size: rem(35px);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.date{
  @include Roboto(medium);
  font-size: rem(14px);
  margin-bottom: 15px;
  color: #607D8B;
}
.article__image{
  width: 100%;
}
.article__html{
  p{
    font-size: rem(16px);
    color: $text;
  }
}

.read__more-btn{
  @include Roboto(medium);
  display: inline-block;
  font-size: rem(20px);
  padding: 8px 25px;
  background-color: $blue;
  color: $white;
  border-radius: 5px;
  margin-top: 25px;
  &:hover{
    background-color: #263238;
  }
}

.pagination__list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px 0;
  border-top: 2px solid #009688;
  border-bottom: 2px solid #009688;
}
.pagination__item{
  margin-right: 15px;
  &:last-child{
    margin-right: 0;
  }
}
.pagination__link{
  @include Roboto(medium);
  font-size: rem(25px);
  color: #009688;
  &.active{
    color: #004D40;
  }
  &:hover{
    color: #004D40;
  }
}
.prev__page-btn{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  i{
    font-size: rem(35px);
    color: #009688;
    &:hover{
      color: #004D40;
    }
  }
  &.hiden{
    display: none;
  }
}
.next__page-btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  i{
    font-size: rem(35px);
    color: #009688;
    &:hover{
      color: #004D40;
    }
  }
  &.hiden{
    display: none;
  }
}