@import '../../assets/styles/main';

.map__wrap{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #B0BEC5;
}
.map{
  width: 100%;
  height: 100%;
}

.contacts__wrap{
  position: absolute;
  max-width: 500px;
  left: 50%;
  top: 50%;
  border-radius: 7px;
  padding: 25px 25px 0;
  background-color: rgba($white, .5);
  transform: translate(-50%, -50%);
}
.contacts__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
  margin-bottom: 25px;
  a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: $text;
    &:hover{
      color: $hover-blue;
      text-decoration: underline;
      span{
        transform: scale(1.05);
      }
    }
  }
  i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: $blue;
    color: $white;
    border-radius: 50%;
  }
  span{
    font-size: 14px;
    margin-left: 15px;
    transition: .3s;
  }
  @include laptops(){
    width: 100%;
  }
}