@import '../../pallette';

.portfolio{
  .header{
    height: 830px;
  }
  .header__bg{
    background-position: center 100%;
  }
}
.portfolio__main{
  margin-top: -300px;
}
.portfolio__top-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.portfolio__content{
  position: relative;
  background-color: $bg;
  padding: 0 0 50px 0;
}
.portfolio__title{
  position: absolute;
  color: $white;
  text-transform: uppercase;
  font-size: 45px;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.portfolio__header-text{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.works__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.work__item{
  display: block;
  position: relative;
  width: 25%;
  height: 25vw;
  border: 2px solid $white;
  .work__link{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &:after{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($bg, .2);
      transition: .5s;
    }
    &:hover{
      .work__title{
        background-color: $hover-blue;
      }
      &:after{
        background-color: transparent;
      }
    }
  }
  .work__title{
    position: relative;
    margin: 0 25px 15px 0;
    padding: 5px 15px;
    background-color: $blue;
    color: $white;
    transition: .2s;
    z-index: 100;
  }
}
.category__list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0;
  border-top: 1px solid $text;
  border-bottom: 1px solid $text;
  margin-bottom: 25px;
}
.category__item{
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
  &:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #009688;
    transform: rotate(25deg);
  }
  &:last-child{
    padding-right: 0;
    margin-right: 0;
    &:after{
      display: none;
    }
  }
}
.category__link{
  font-size: 18px;
  color: #009688;
  &:hover{
    color: $blue;
  }
}

.no-comment{
  width: 100%;
  height: 100%;
  text-align: center;
}

.work-appear{
  opacity: 0;
  transition: .3s opacity;
}
.work-appear-active{
  opacity: .5;
  transition: .3s opacity;
}
.work-enter{
  opacity: .8;
  transition: .3s opacity;
}
.work-enter-active{
  opacity: 1;
  transition: .3s opacity;
}
.work-exit{
  opacity: .5;
  transition: .3s opacity;
}
.work-exit-active{
  opacity: 0;
  transition: .3s opacity;
}

.preview__modal{
  display: none;
}
.preview__modal-show{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba($bg, .5);
  z-index: 1000;
}
.preview__modal-left{
  position: relative;
  width: 65%;
  height: 100%;
  overflow-y: scroll;
}
.preview__pics-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  img{
    width: 100%;
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.preview__modal-btns{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 35%;
  top: 5px;
  z-index: 1000;
  button{
    width: 50px;
    height: 50px;
    font-size: 35px;
    background-color: $blue;
    color: $white;
    border: none;
    margin-bottom: 3px;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background-color: $hover-blue;
    }
  }
}
.preview__modal-right{
  position: relative;
  width: 35%;
  height: 100%;
  background-color: $white;
  padding: 25px;
  overflow-y: scroll;
}
.preview__title{
  font-size: 40px;
}
.technologies__list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
  padding: 25px 0;
  color: #009688;
}
.technologies__item{
  position: relative;
}
.tech__text{
  position: absolute;
  display: none;
  font-size: 14px;
  top: 100%;
  left: 50%;
  background-color: $black;
  color: $white;
  padding: 2px 15px;
  transform: translateX(-50%);
  &.active{
    display: block;
  }
}

.view__website-link{
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  color: $white;
  background-color: $blue;
  border-radius: 5px;
  margin-top: 50px;
  &:hover{
    background-color: $hover-blue;
  }
}